/* Importing Tailwindcss layers */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import resetcss */
@import url('./reset.css');
/* Import Fonts */
@font-face {
  font-family: 'Montserrat Medium';
  src: url('./Assets/Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('./Assets/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('./Assets/Fonts/Montserrat/Montserrat-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('./Assets/Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    format('truetype');
}

html {
  font-size: clamp(
    16px,
    calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))),
    20px
  );
  font-family: 'Source Sans Pro Regular';
  font-size: 1rem;
}
h1 {
  font-family: 'Montserrat ExtraBold';
  font-size: 2.5rem;
}
h2 {
  font-family: 'Montserrat Bold';
  font-size: 2rem;
}
h3 {
  font-family: 'Montserrat Medium';
  font-size: 1.5rem;
}
p {
  font-family: 'Source Sans Pro Regular';
  font-size: 1rem;
}
